spring:
  application:
    name: library

  datasource:
    url: jdbc:postgresql://localhost:5432/library_db
    username: postgres
    password: benabbes

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8484
